.bundler
.bundle
.dbshell
.gem
.gitk
.heroku
.lesshst
.mysql_history
.openvpn-connect.json
.npm
.rdebug_hist
.ruby_inline
.rvm
.viminfo
.CFUserTextEncoding
.DS_Store
.MacOSX
.Trash
.chef
.cups
.dropbox
.bash_history
.irb-history
.irb_history
.sso
.ssh
.gnupg
.node-gyp
.zcompdump
.zsh_history
Desktop
Documents
Downloads
Dropbox
Library
Movies
Music
Pictures
Public
src
tmp
Googl*
